@model IEnumerable<storeEdy.Models.NewFisler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SepetOturum.sepetoturumid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fisTutar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarih)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SepetOturum.sepetoturumid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fisTutar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarih)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.fisid }) |
            @Html.ActionLink("Details", "Details", new { id=item.fisid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.fisid })
        </td>
    </tr>
}

</table>
