@model IEnumerable<storeEdy.Models.NewUrunler>

@{
    ViewBag.Title = "Ürünler Listesi | StoreEdy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 mb-5 mb-xl-12">
    <div class="card shadow">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">Ürünler Listesi</h3>
                </div>
                <div class="col text-right">
                    @*<a href="@Url.Action("Other", "Home")" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left mr-2" aria-hidden="true"></i> Geri</a>*@
                    <a href="@Url.Action("Create", "NewUrunler")" class="btn btn-sm btn-success">Yeni Ürün Ekle</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th style="width:50px;">
                            @Html.DisplayNameFor(model => model.barkod)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.urunAd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.urunAciklama)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.urunFiyat)
                        </th>
                        <th style="width:300px;">İşlem</th>
                    </tr>
                </thead>
                <tbody>


                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                    <tr>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.barkod)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.urunAd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.urunAciklama)
                        </td>
                        <td>
                            <i class="fas fa-lira-sign mr-2" aria-hidden="true"></i> @Html.DisplayFor(modelItem => item.urunFiyat)
                        </td>
                        <td>
                            @*<i class="fas fa-eye text-dark mr-2" aria-hidden="true"></i>*@
                            @*<a href="@Url.Action("Details", "NewUrunler", new { id = item.urunid })" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#detayGor">incele</a>*@
                            <a href="@Url.Action("Details", "NewUrunler", new { id = item.Urunid })" class="btn btn-sm btn-primary">incele</a>

                            <a href="@Url.Action("Edit", "NewUrunler", new { id = item.Urunid })" class="btn btn-sm btn-warning">güncelle</a>

                            <a href="@Url.Action("Delete", "NewUrunler", new { id = item.Urunid })" class="btn btn-sm btn-danger">sil</a>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="#" tabindex="-1">
                    <i class="fa fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item">
                <a class="page-link" href="#">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

